<!DOCTYPE html>
<html>
  <head>
    <title>Add an article</title>
  </head>

  <body>
    <h1>
      Add slack articles man...maybe about bob.
    </h1>

    <form action="/item" method="post">
      <label for="news_item">New Item:</label>
      <input type="text" id="news_item" name="news_item">


    <form action="/item" method="post">
      <label for="url">url:</label>
      <input type="text" id="url" name="url">


    <form action="/item" method="post">
      <label for="description">description</label>
      <input type="text" id="description" name="description">

    <input type="submit">
    </form>

    <p>
    <a href="/news">all the fit news that keeps me unfit...</a>
    </p>

  </body>
</html>
